body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.masthead {
  background-image: url(./img/bg1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75vh;
}

.vertical-center {
  padding-top: calc(50vh) 
}

.text-bg {
  background-color: rgba(0,0,0,0.5);
  width: fit-content;
  padding: 10px;
}

.bg-black {
  background-color: black;
} 

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0,0,0,.7);
}